In [4]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_boston

In [5]:
housing_data = load_boston()

In [12]:
df_x = pd.DataFrame(housing_data.data, columns=housing_data.feature_names)

In [13]:
df_y = pd.DataFrame(housing_data.target)

In [14]:
df_x.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [17]:
model = linear_model.LinearRegression()

In [24]:
X_train, X_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.2, random_state=4)

In [25]:
X_train.shape, y_train.shape

((404, 13), (404, 1))

In [26]:
X_test.shape, y_test.shape

((102, 13), (102, 1))

In [27]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [28]:
model.coef_

array([[ -1.14743504e-01,   4.70875035e-02,   8.70282354e-03,
          3.23818824e+00,  -1.67240567e+01,   3.87662996e+00,
         -1.08218769e-02,  -1.54144627e+00,   2.92604151e-01,
         -1.33989537e-02,  -9.07306805e-01,   8.91271054e-03,
         -4.58747039e-01]])

In [29]:
predictions = model.predict(X_test)

In [45]:
predictions[1:5]

array([[ 26.98544801],
       [ 17.59242607],
       [ 18.15842166],
       [ 36.91656975]])

In [43]:
y_test

        0
8    16.5
289  24.8
68   17.4
211  19.3
226  37.6
70   24.2
55   35.4
470  19.9
409  27.5
154  17.0
344  31.2
272  24.4
310  16.1
160  27.0
319  21.0
454  14.9
11   18.9
399   6.3
413  16.3
25   13.9
418   8.8
153  19.4
124  18.8
108  19.8
345  17.5
103  19.3
209  20.0
129  14.3
432  16.1
106  19.5
..    ...
63   25.0
239  23.3
123  17.3
64   33.0
139  17.8
314  23.8
427  10.9
102  18.6
45   19.3
476  16.7
80   28.0
14   18.2
278  29.1
505  11.9
341  32.7
497  18.3
212  22.4
280  45.4
229  31.5
203  48.5
317  19.8
232  41.7
327  22.2
309  20.3
269  20.7
368  50.0
144  11.8
336  19.5
437   8.7
216  23.3

[102 rows x 1 columns]

In [47]:
# mean squared error
np.mean((predictions-y_test)**2)

0    25.407977
dtype: float64